table {
    width: 600px;
    height: 200px;
    border-collapse: collapse;
    background: #c2fcf3;
    border-radius: 25px;
    font-family: 'Scada';
    }
    
    th {
        border-radius: 25px;
        font-family: 'Scada';
    
    }
    
    td {
    text-align: center;
    border-radius: 25px;
    font-family: 'Scada';
    }
    .TransactionLog{
        font-family: 'Scada';   
        font-size: 48px;
    }